.box{
    background-color: #1E1F26;
    width: 630px;
    height: 184px;
    box-shadow: 5px 5px 0 black;
    
}
.box h1{
    margin-bottom: 28px;
}

.box.-second{
    background-color: #7C5E99;
    box-shadow: 8px 8px 0 #fff;
    height: 280px;
    width: 280px;

}