.main-banner{
    box-sizing: border-box;
    background-color: #c6cdda;
    background-image: url(../../assets/photo.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size:65%;
    height: 930px;
    border-bottom: 10px solid #000;
    padding-top: 55px;
    padding-left: 55px;
}
.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 630px;

}

.main-banner .main-box{
    margin-bottom: 40px;
}

.main-banner .navigation{
    display: flex;
    justify-content: space-evenly;   
}

