.main-section{
    background-color: #4D648D;
    border-bottom: 10px solid #283655;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section.-second{
    background-color: #000;
    height: 520px;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: black;
    height: 520px;
}

.main-section.-bdFirst {
    border-color: #1E1F26;
}

