.main-banner{
    box-sizing: border-box;
    background-image: url(../../assets/photo.png);
    background-blend-mode: darken;
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    height: 1000px;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}
.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 630px;

}

.main-banner .main-box{
    margin-bottom: 40px;
}

.main-banner .navigation{
    display: flex;
    justify-content: space-evenly;   
}
