.section{
    background-color: #4D648D;
    border-bottom: 10px solid #283655;
    width: 100%;
    height: 730px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section .main-title{
    margin-bottom: 60px;
}
