.title{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #D0E1F9;
    text-shadow: 4px 4px 0 #000;
    padding: 18px 20px;
}

.title.-second{
    text-align: center;
    text-shadow: none;
    padding-top: 50px;
}