.title{
    display: inline-block;
    text-align: center;
    color: #D0E1F9;
    text-shadow: 4px 4px 0 #000;
    
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    padding: 18px 20px;
    margin: 20px;

}